
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<hr />
<div class="container">
    <p>
        ScienceNewsBlog is asp.net core web application that I made for my Course project.
    </p>
    <p>
        For more info <a href="/Contact"><strong>contact us</strong></a>
    </p>
</div>