
@{
    ViewData["Title"] = "ThankYou";
}

<div class="jumbotron text-center">
    <h1 class="display-3">Thank you for your email!</h1>
    <p class="lead">We will contact you as soon as possible.</p>
    <hr>
    <p class="lead">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index" role="button">Back to homepage</a>
    </p>
</div>

